{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="81514332080-fs5dkrul1knhq5eakhrbumg37rfdjrdk.apps.googleusercontent.com">
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>

        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
        document.querySelector('form').onsubmit = function(e) {
            e.preventDefault();
            $.get('/check', {username: document.querySelector('input[name=username]').value}, function(data) {
                if (data) {
                    document.querySelector('form').submit();
                }
                else {
                    alert('Username is not available');
                }
            });
        };
    </script>

        <a href="#" onclick="signOut();">Sign out</a>
<script>
            function init() {
              gapi.load('auth2', function() { // Ready. });
            }
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }

              function signinCallback(authResult) {
       if (authResult['access_token']) {
        // The user is signed in
        var loc = 'index.jsp?GoogleAuthToken=' + authResult['access_token'];
        window.location.href = loc;
        } else if (authResult['error']) {
        // There was an error, which means the user is not signed in.
         return false;
        }
    }
</script>

<script>

        document.querySelector('form').onsubmit = function(e) {
            e.preventDefault();
            $.get('/check', {username: document.querySelector('input[name=username]').value}, function(data) {
                if (data) {
                    document.querySelector('form').submit();
                }
                else {
                    alert('Username is not available');
                }
            });
        };

    </script>

{% endblock %}
